.input__counter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 257px;
  height: 130px;
  border: 1px solid #ccc;
  background-color: #ffffff;
}
.input__counter__wrapper {
  padding: 10px 38px 10px 38px;
}
.input__counter__pretext,
.input__counter__subtext {
  height: 16px;
}
.loading__icon {
  margin-left: 3px;
  display: inline-block;
  width: 16px;
  margin-right: 10px;
}
.mess__text {
  display: inline-block;
  font-family: "Avenir";
  font-size: 12px;
  font-weight: 500;
}

.input__counter__container {
  display: inline-flex;
  width: 100%;
  height: 56px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.input__counter__container > div {
  height: 100%;
  color: #b24242;
  display: flex;
  flex: 1;
  line-height: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Avenir";
  font-size: 21px;
  font-weight: 900;
}
.input__counter__input__container {
  background-color: #fbe8e8;
  border-top: 1px solid #b24242;
  border-bottom: 1px solid #b24242;
}
.input__counter__input {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  text-align: center;
  background: none;
  line-height: 100%;
  font-family: "Avenir";
  font-size: 21px;
  font-weight: 900;
  color: #b24242;
}
textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  outline: none;
}
.dec__btn {
  border: 1px solid #b24242;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.inc__btn {
  background-color: #b24242;
  color: #ffffff !important;
  border: 1px solid #b24242;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.icon__btn {
  cursor: pointer;
}
